h1, h2 {
  font-family: Lato;
}

h1,h2,h3,h4,h5,h6 {
  color: darkorange;
  padding: 0;
  margin: 0;
}

section {
  display: inline-flex;
  width: 45%;
  /* text-align: justify; */
  border: 1px dotted darkgray;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

ul li {
  float: left;
}